@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h2>Are you sure you want to delete this machine?</h2>
<hr><br>

<p>@Html.DisplayFor(model => model.MachineName)</p>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-warning" />
}

<p>@Html.ActionLink("Back to machines", "Index")</p>