@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Engineers</h2>
<hr><br>

<p>@Html.ValidationMessageFor(model => model.EngineerName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName, "Engineer Name: ")
  @Html.TextBoxFor(model => model.EngineerName)

  <input type="submit" value="Add new engineer" class="btn btn-primary" />
}

<p>@Html.ActionLink("Show all engineers", "Index")</p>